.body {
  padding: 0.5rem 1rem;
  font-family: 'Ubuntu Mono', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.buttonContainer {
  font-family: 'Noto sans', sans-serif;
}

.description {
  display: block;
  margin-bottom: 0.5rem;
}

.disabledButtons,
.iconButtons,
.sizeButtons,
.colorButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
