.body {
  font-family: 'Ubuntu Mono', sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.buttonContainer {
  font-family: 'Noto sans', sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
